.mat-header-cell{
    font-weight: 600;
    color: #000;
    font-size: 17px;
}

.mat-column-start, .mat-column-end{
    flex: 0 0 60px;
}

.mat-column-name{
    flex: 1 0 140px;
}

.mat-column-round{
    flex: 0 0 180px;
}

.mat-column-format{
    flex: 0 0 120px;
}



.mat-column-cutoff,.mat-column-advance, .mat-column-timelimit{
    justify-content: center;
}